.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    max-height: 800px;
}

.links {
    height: 60px;
    text-align: right;
}

.logo {
    min-height: 92px;

}

.google {
    height:100%;
    margin-top: auto;
    padding-top: 150px;
}

img {
    display: block;
    height: 92px;
    margin-left: auto;
    margin-right: auto;
}

.search-bar {
    max-height: 160px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 436px;
}

[type~="submit"] {
    height: 25px;
    width: 125px;
    background-color: #f8f9f9;
    border: none;
    border-radius: 5px;
    outline: none;

}

[type~="text"] {
    height: 40px;
    width: 432px;
    border: #d1d6db solid 1px;
    border-radius: 25px;
    outline: none;
}

.footer1 {
    height: 160px;
    text-align: center;
    font-family: arial,sans-serif;
    font-size: small;
}

.footer2 {
    height: 160px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

}

a:active {
    text-decoration: none;
}
